body{
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    box-sizing: border-box;
}

.c1, .c2, .c3, .c4, .c5, .c6, .c7{
    width:100%;
    height: 150px;
}

.c1{
/*    background-color: aqua; */
    background-image: url(35829e17-36f1-4367-92a2-b19db652fadf.jpg);
    background-size: cover;
    background-repeat:no-repeat;
}

.c2{
/*    background-color: blueviolet;*/
    background-image: url(crux-grey-4_1024x1024.jpg);
    background-size: cover;
    background-repeat:no-repeat;
}

.c3{
/*    background-color: darkgoldenrod;*/
    background-image: url(Cervelo-P5X-eTap-Triathlon-Bike-2017.jpg);
    background-size: cover;
    background-repeat:no-repeat;
}

.c4{
/*    background-color: blue;*/
    background-image: url(42476429-1-f.jpg);
    background-size: cover;
    background-repeat:no-repeat;
}

.c5{
    background-image: url(42271840-1-sz.jpg);
/*    background-color: deeppink;*/
    background-size: cover;
    background-repeat:no-repeat;
}

.c6{
    background-image: url(3593bdc2-7c70-4d5d-93b5-f20ed37b5bc7.jpg);
/*    background-color: forestgreen;*/
    background-size: cover;
    background-repeat:no-repeat;
}

.c7{
    background-image: url(imageService.jpg);
/*    background-color: darkred;*/
    background-size: cover;
    background-repeat:no-repeat;
}