body{
    display: flex;
    flex-flow: row wrap;
    margin: 0 auto;
    border: 1px solid red;
}

.c1,.c2,.c3{
    width: 100%;
    min-height: 74px;
}

.c1{
    background-color: blueviolet;
}

.c2{
    background-color: cornflowerblue;
}

.c3{
    background-color: darkblue;
}