html, body, header, h1, nav, div, a, main, footer, p, section, h1, h2, h3, button, ol, li, img{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

html{
    font-size: 1vw;
    font-family: 'Open Sans', sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main-width{
    width: 80vw;
}

header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
/*    border: 1px solid red;*/
}

header h1{
    font-size: 2.75rem;
    font-weight: 400;
    letter-spacing: .05rem;
    color: dimgray;
}

nav{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

header nav div{
    width: 25%;
    border-top: 1px solid darkgray;
    margin: 0 .5rem;
}

header nav a{
    text-decoration: none;
    color: dimgray;
    width: 7%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem .5rem;
    background-color: rgba(0,0,0,.05);
    font-size: 1rem;
    padding: .4rem 0;
}

.back-img{
    width: 100%;
    background-image: url(images/fam_blur.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 45vw;
    margin: 1rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#in-center{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 40%;
    width: 40%;
}

#air{
    font-size: 4rem;
    color: white;
    font-family: serif;
}

#radon-p{
    color: white;
    font-size: 1.5rem;
    text-align: center;
    line-height: 35px;
    padding-bottom: .9rem;
}

button{
    background-color: red;
    background-image: linear-gradient(rgb(red), rgb(#C10000));
    border: 0;
    color: white;
    padding: .8rem 1.2rem;
    font-size: 1.05rem;
    cursor: pointer;
}

section{
    width: 74%;
}

section h2, section h1{
    font-family: serif;
    color: #2E2E2E;
    font-weight: 400;
}

section h2{
    font-size: 1.8rem;
    font-weight: 500;
    margin: .65rem 0;
}

section h1{
    text-decoration: underline;
    font-size: 2rem;
}

section p{
    color: darkgray;
}

.div-button{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
}

.rand-img{
    display: flex;
/*    width: 80%;*/
    justify-content: space-around;
    align-items: center;
    margin: 0 8rem;
}

.rand-img-down{
    display: flex;
    flex-direction: column;
}

.rand-img-down p{
    line-height: 1.8rem;
    font-size: 1.15rem;
}

.source{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 2rem;
}

.p-padding{
    padding: 1rem 0;
}

table{
    border-collapse: collapse;
    color: rgba(0,0,0,.9);
    margin-bottom: 1rem;
}

th{
    background-color: silver;
}

.bold{
    font-weight: bold;
}

.gray-row{
    background-color: #d0d0d0;
}

td, th {
    border: 1px solid #999;
    padding: 0.5rem;
    text-align: left;
}

#about-img{
    background-image: url(images/us_left_web_30.jpg);
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 45vw;
    margin: 1rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#center{
    width: 40%;
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#center h1{
    font-size: 4.21rem;
    color: white;
    font-family: serif;
}

#center p{
    color: white;
    font-size: 1.5rem;
}

.call-us{
    height: 10vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.call-us-item{
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.call-us-item h1{
    color: red;
    font-family: serif;
    font-size: 2rem;
}

.call-us-item a{
    color: red;
    font-size: 2.6rem;
    text-decoration: none;
    font-family: serif;
}

.call-us-item a:hover{
    color: blue;
}




.divider{
    width: 60vw;
    border-top: 1px solid gray;
    padding-bottom: 2rem;
}

.main-width-footer{
    width: 52%;
}

footer{
    height: 6.5vw;
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-end;
    align-items: center;
    font-family: serif;
    font-size: 1.2rem;
}

footer p{
    text-align: center;
}